@import "../../../assets/styles/variables";

:host {
  @include plate;
  width: 100%;
  display: flex;

  form {
    width: 20em;
    display: flex;
    flex-direction:column;

    margin: 2em auto;

    .actions {
      display: flex;
      justify-content: space-around;
    }
  }
}