@import "../../../assets/styles/variables";

:host {
  flex-grow: 1;

  .courses-container {
    display: flex;
    flex-direction: column;
  }

  agc-course.top-rated {
    background-color: pink;
  }
}